body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.dice-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dice {
    font-size: 50rem;
    margin-bottom: 20px;
}
.roll-button {
    padding: 10px 20px;
    font-size: 10rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.roll-button:hover {
    background-color: #0056b3;
}
.container {
    text-align: center;
}
img {
    width: 100px;
    height: auto;
    border: 2px solid #000;
}

/* Define the flashing animation */
@keyframes flashRed {
    0% { filter: brightness(100%); }
    50% { filter: brightness(100%) drop-shadow(0 0 10px red); }
    100% { filter: brightness(100%); }
}

.flashing {
    animation: flashRed 1s ;
}
